<h1>EXCHANGE RATES</h1>
<h3>Current (<%= @current_date %>) exchange rates:</h3>
<h4>Alior Bank</h4>
<table>
  <tr>
    <td>CURRENCY</td>
    <td>BUY RATE</td>
    <td>SELL RATE</td>
  </tr>
  <% @currency_names.each do |currency| %>
    <tr>
      <td><%= currency %></td>
      <td><%= @rates[currency][:buy] %></td>
      <td><%= @rates[currency][:sell] %></td>
    </tr>
  <% end %>
</table>

