<h1>EXCHANGE RATES</h1>
<h3>Current (<%= @current_date %>) exchange rates:</h3>
<h4>Alior Bank</h4>
<table>
  <tr>
    <td>CURRENCY</td>
    <td>BUY RATE</td>
    <td>SELL RATE</td>
  </tr>
  <% @rates.each do |code, rate| %>
    <tr>
      <td><%= code %></td>
      <td><%= rate.buy %></td>
      <td><%= rate.sell %></td>
    </tr>
  <% end %>
</table>

