// Place all the styles related to the ExchangeRates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#exchange-rates {
  width: 100%;
  td {
    border: 1px solid #000;
    padding: 5px;
  }
  td.buy, td.sell {
    width: 20em;
  }
}
